@media only screen and (max-width: 960px) {

	.pagination ul li a.prev-page,
	.pagination ul li a.next-page {
		min-width: 10px;
	}

	.pages-num .prev-page span,
	.pages-num .next-page span {
		/*display: none;*/
		font-size: 14px;
	}

	.pagination a.next-page:after,
	.pagination a.prev-page:before {
		/*padding: 0 0 0 1%;*/
		margin: 1px;
		font-size: 12px;
	}

	.profile .tabs .tab-links-box {
	    display: block;
	}

	.profile .tabs .tab-link-item {
		display: inline-block;
		vertical-align: top;
		min-width: auto;
		width: 50%;
	}

	.profile .tabs .tab-links-list {
		width: 100%;
		margin: 2px 0 0 0%;
		overflow: inherit;
	}


}


@media only screen and (max-width: 768px) {

	h2 {
	    padding: 7px 2%;
	}

	.row {
		padding: 0 2%;
	}


	.main-nav-block.left-col {
		position: fixed;
		/*width: 150%;*/
		width: 100%;
		height: 100%;
		top: -110%;
		left: 0;
		/*margin: 0 0 0 -20%;*/
		/*padding: 3% 27% 1% 20%;*/
		background: rgba(91, 194, 209, .95);
	    
	    -webkit-transition-property: top;
	    -webkit-transition-duration: .7s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: top;
	    -moz-transition-duration: .7s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: top;
	    -ms-transition-duration: .7s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: top;
	    -o-transition-duration: .7s;
	    -o-transition-timing-function: ease;

	    transition-property: top;
	    transition-duration: .7s;
	    transition-timing-function: ease;
	}

	.main-nav-block.left-col.show {
		top: 0%;
	}

	.close-resp-nav-btn {
	    display: block;
	}

	.main-nav-list {
		height: 90vh;
		overflow-y: hidden;
	}

	.main-nav-list li {
		display: block;
		width: 100%;
	}

	.main-nav-list li a {
		width: 100%;
		font-size: 18px;
	}

	.top-header-row .right-col {
		width: 100%;
	}

	.resp-nav-btn {
	    display: block;
	}

	.logo-row {
		padding: 5px 2%;
	}


	.tab_link.active:before,
	.tab_link.active:after {
	    display: none;
	}

	.tab-link-item {
	    width: 50%;
	    margin: 1% 0;
	}

	.four-cols .tab-content-col {
		width: 50%;
		margin: 1% 0;
	}



	.sidebar.left {
		display: block;
		min-width: 300px;
		float: none;
		height: 100vh;
		position: fixed;
		top: 0;
		left: -110%;
		overflow: hidden;
		-webkit-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, .2);
		-moz-box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, .2);
		box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, .2);
		    
	    -webkit-transition-property: left;
	    -webkit-transition-duration: .7s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: left;
	    -moz-transition-duration: .7s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: left;
	    -ms-transition-duration: .7s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: left;
	    -o-transition-duration: .7s;
	    -o-transition-timing-function: ease;

	    transition-property: left;
	    transition-duration: .7s;
	    transition-timing-function: ease;
	}

	.sidebar.left.show {
		left: 0;
	}

	.aside-wrapp {
        width: 150%;
        border-right: 3px solid #ffffff;
        padding: 0 40% 0 3%;
        height: 100vh;
    }

	.show-sidebar-btn {
		display: block;
	}

	.with-sidebar-section .main-content {
		display: block;
		width: 100%;
		float: none;
		padding: 0 2%;
	}

	.width-18 .sidebar-nav {
		width: 280px;
	}





	.five-cols .thumbnail-box {
	    width: 33.33%;
	}

	.declaration .header-article .left-col {
		width: 100%;
	}

	.declaration .header-article .right-col {
		width: 100%;
		text-align: left;
	}

	.news.article .left-col {
		display: inline-block;
		width: 100%;
	}

	.news.article .left-col .img-box {
		/*margin: 5px auto;*/
		margin: 5px 0 10px 0;
	}

	.news.article .right-col {
		display: inline;
		width: 100%;
	}


	/* --  Card Page  --  */

	.card-page .tab .two-cols {
	    display: block;
	}

	.card-page .two-cols .col {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0;
	}

	.tab-links-box {
	    display: inline-block;
	    vertical-align: middle;
	    width: 52%;
	    /*text-align: center;*/
	}

	.soc-nets-tabs {
		display: inline-block;
		width: 48%;
		text-align: center;
	}

	.soc-nets-tabs h5 {
		display: inline-block;
	    width: 100%;
	    text-align: center;
	}

	.soc-nets-tabs .soc-nets-list {
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.card-page .two-cols .col-2 {
	    height: 250px;
	}

	.card-page .tab .row-col-1 {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.card-page .tab .row-col-2 {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.row-line .two-cols {
	    display: block;
	}

	.row-line .two-cols .col {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.row-line .two-cols .col-2 {
		display: inline-block;
		vertical-align: middle;
		height: 250px;
	}

	/* --  /Card Page  --  */

	.result-item .col {
		padding: 0 2% 0 0;
	}

	.result-item .col-1 {
		width: 53%;
	}

	.searching-result-header .col-1 {
		width: 53%;
	}

	.searching-result-header .col-3 {
		width: 24%;
	}

	.result-item .col-3 {
		width: 24%;
		padding: 0;
	}

	.pagination ul li {
		padding: 0 2px;
	}

	.pagination ul li a {
		min-width: 24px;
		padding: 0 5px;
	}

	.account-table {
		/*min-width: 620px;*/
	}


	.profile .tabs .tab-link-item {
		display: inline-block;
		padding: 0px 1%;
	}

	.profile .inputs {
		width: 100%;
	}

	.profile .user-form-box .inputs label {
	    width: 31%;
	}

	.profile .user-form-box .inputs input {
	    width: 68%;
	}

	.profile .inputs input + span {
	    padding: 5px 0 0 31%;
	}

	.profile .user-form-box .btn-submit-box {
	    width: 100%;
	}

	.profile .btn-submit-box input[type=submit] {
	    margin: 10px 0 0px 0;
	}

	.profile-article-content .three-cols .col {
		width: 50%;
	}

/*	.tab-no-visible {
		display: none !important;
	}*/


	.footer-row-1 .footer-col {
		width: 50%;
	}

	.footer-row-1 .footer-col-3 {
	    width: 100%;
	}

	.footer-row-1 .footer-col-3 ul {
		display: inline-block;
		vertical-align: top;
	    width: 48%;
	}

}



@media only screen and (max-width: 480px) {

	img.left,
	img.right {
		display: block;
		width: 100%;
		float: none;
		margin: 6px auto;
	}

	.five-cols .thumbnail-box {
		width: 50%;
		padding: 10px 2.5%;
	}

	.tab-link-item {
		width: 100%;
	}

	.four-cols .tab-content-col {
		width: 100%;
	}


	.tab-links-box {
	    width: 100%;
	}

	.card-page .tab-link-item {
	    width: 50%;
	    min-width: auto;
	}

	.soc-nets-tabs {
		display: none;
	}


	.footer-row-1 h3 {
		text-align: center;
	}

	.footer-row-1 ul {
		display: block;
		text-align: center;
		padding: 10px 0;
	}

	.footer-row-1 ul li {
		display: block;
		text-align: center;
	}

	ul.soc-nets-list li {
		display: inline-block;
		vertical-align: top;
		/*width: 40px;*/
		padding: 0 3%;
	}

	ul.soc-nets-list li a {
		width: 40px;
	}

	.brand-list li {
		display: inline-block;
		vertical-align: top;
		width: 32%;
		float: none;
	}

	.sortable-box {
		display: inline-block;
		width: 100%;
		margin: 10px 0;
	}

	.sortable-box p {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}

	.sortable-box .choose-type-box {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 10px 0;
		min-width: 232px;
	}

	.searching-result-header {
	    display: none;
	}

	.result-item {
		display: block;
	}

	.result-item .col {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.result-item-header .result-link {
		padding: 3px 0 7px 0;
		font-size: 18px;
	}

	.pagination .p-left,
	.pagination .p-right {
		text-align: left;
		width: 100%;
		padding: 2px 0;
	}

	.pagination ul li a.prev-page span,
	.pagination ul li a.next-page span {
		display: none;
		/*font-size: 14px;*/
	}

	.pagination a.next-page:after,
	.pagination a.prev-page:before {
		margin: 1px 4px;
		font-size: 13px;
		line-height: 27px;
		position: relative;
		top: 1px;
	}


	.send-error-message p.semibold-txt {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: center;
		padding: 0 0 10px 0;
	}

	.send-error-message .form-box {
		display: inline-block;
		vertical-align: middle;
		width: 100%;
		text-align: center;
	}

	.account-table {
		min-width: 476px;
	}

	.account-table .table-cell p {
        font-size: 14px;
    }

    .account-table .table-cell a {
        font-size: 14px;
    }

    .table-cell a.btn-cell {
	    padding: 2px 3px;
	    font-size: 14px;
	}

	.account-table.four-cols .table-cell-2 {
	    padding: 0 2px 0 6px;
	}


	.profile .tabs .tab-link-item {
		width: 100%;
	}

	.profile .input-box {
		padding: 7px 0;
	}

	.profile .user-form-box .inputs label {
		width: 100%;
		text-align: left;
		padding: 5px 0;
	}

	.profile .user-form-box .inputs input {
	    width: 100%;
	}

	.profile .inputs input + span {
	    padding: 5px 0 0 0;
	}

	.profile .h2-gradient h2.width-checkbox {
		width: 100%;
		padding: 0;
		line-height: 27px;
	}

	.profile .h2-gradient .checkbox-box {
		width: 100%;
		text-align: left;
	}

	.profile-article-content .two-cols .col {
		width: 100%;
	}

	.profile-article-content .three-cols .col {
	    width: 100%;
	}

	.checkbox-box input[type=checkbox] + label:before {
	    top: -3px;
	}



	.footer-row-1 .footer-col {
		width: 100%;
	}

	.footer-row-1 .footer-col-3 {
		width: 100%;
	}

	.footer-row-1 .footer-col-3 ul {
		width: 100%;
	}

	.payment-system {
		text-align: center;
	}


}


@media only screen and (max-width: 330px) {

	.card-page .tab-link-item {
	    width: 100%;
	}

}